
.header{
  width: 1345px;
  height: 180px;
  padding-top: 20px;
  padding-left: 20px;
  background: #8294C4;
  padding-right: 20px;
}

.shop-name{
  color: black;
  text-align: center;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
}
.shop-slog{
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 15px;
  padding-bottom: 10px;
}

.contents-nav{
  width:100%px;
  height: 35px;
  background-color: #ACB1D6;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: black;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 10px;
}
a{
  text-decoration: none;
  color:#454545;
}

#pro-btn:hover, #or-btn:hover, #home-btn:hover, 
#about-btn:hover, #logout:hover{
  color: aliceblue;
}

#logout{
  float: right;
}

.hot-bev{
  width: 1285px;
  height: 330px;
  background-color: #DBDFEA;
  margin-top: 40px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 60px;
  box-shadow: 1px 4px 4px 0px black;
}

.hot-title{
  color: black;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

.hot-names{
  word-spacing: 255px;
  width: 1130px;
  height: 30px;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-left: 100px;
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cap, #cam, #moc, #esp, #jav, #haz, #frap, #str{
  box-shadow: 1px 5px 5px 0px black;
}

.cold-bev{
  width: 900px;
  height: 380px;
  background-color: #DBDFEA;
  margin-top: 40px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 60px;
  box-shadow: 1px 4px 4px 0px black;
  align-items: center;
}
.cold-names{
  word-spacing: 160px;
  width: 780px;
  height: 30px;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-left: 50px;
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cold-title{
  color: black;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

.bakery{
  width: 1100px;
  height: 380px;
  background-color: #DBDFEA;
  margin-top: 40px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 60px;
  box-shadow: 1px 4px 4px 0px black;
  align-items: center;
}
.bakery-names{
  word-spacing: 200px;
  width: 958px;
  height: 30px;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-left: 70px;
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bakery-title{
  color: black;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

.order-info{
  width: 1345px;
  height: 50px;
  padding-top: 20px;
  padding-left: 20px;
  background: #8294C4;
  padding-right: 20px;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
}


